.Card {
    width: 50vw;
}

.Card button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card img {
    flex: 1 1 auto;
    object-fit: cover;
    max-height: calc(100% - 90px);
}